#navbar {
  background-color: #323967;
  color: white; }

#navbar {
  border-bottom: #141402 3px solid; }

ul#myNav123 a:hover, header nav#navbar div#myNavbar ul#myNav123 li.active a {
  background-color: #6574ad; }

ul#myNav123 a:focus {
  background-color: #cfa757; }

#navbar {
  cursor: pointer; }

/* BG */
body {
  background-color: #323967;
  color: #323967;
  overflow-x: hidden; }

p {
  color: #000; }

#bg {
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  opacity: 1;
  position: relative;
  margin-top: 43px;
  height: -webkit-calc(100vh - 43px);
  height: -moz-calc(100vh - 43px);
  height: calc(100vh - 43px);
  background: #212121 url("../../../images/bg.jpg") repeat-x 5% 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#PUTBACKGROUNDHERE, #PUTBACKGROUNDHERE2, #PUTBACKGROUNDHERE3, #PUTBACKGROUNDHERE4 {
  background-color: #fff;
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding: 2.5% 0;
  padding-top: -webkit-calc(5% + 43px);
  padding-top: -moz-calc(5% + 43px);
  padding-top: calc(5% + 43px);
  background-color: #fff;
  display: block; }
  @media (min-width: 200px) and (max-width: 600px) {
    #PUTBACKGROUNDHERE, #PUTBACKGROUNDHERE2, #PUTBACKGROUNDHERE3, #PUTBACKGROUNDHERE4 {
      padding: 2.5% 5%; } }

#PUTBACKGROUNDHERE4 {
  min-height: -webkit-calc(100vh + 43px);
  min-height: -moz-calc(100vh + 43px);
  min-height: calc(100vh + 43px);
  padding-bottom: 5%; }

#backGroundForViewWelcome {
  background-color: white;
  min-height: -webkit-calc(100vh);
  min-height: -moz-calc(100vh);
  min-height: calc(100vh); }

.wrapper {
  height: 100%;
  width: 100%;
  display: block; }

.spacerBG {
  background-color: #e2e0d5;
  width: 100%;
  height: 5px; }

#PUTBACKGROUNDHERE5 {
  padding: 5% 0;
  vertical-align: middle;
  min-height: 100vh;
  background-color: white; }

#PUTBACKGROUNDHERE2, #PUTBACKGROUNDHERE3, #PUTBACKGROUNDHERE4 {
  padding-left: 5%;
  padding-right: 5%; }

.profileImageMain {
  display: block;
  margin: -webkit-calc(10vh + 43px) auto 0;
  margin: -moz-calc(10vh + 43px) auto 0;
  margin: calc(10vh + 43px) auto 0;
  border-radius: 100%;
  position: relative;
  border: 0.35em solid #6574ad;
  height: 25vh;
  width: 25vh; }
  @media (max-height: 480px) {
    .profileImageMain {
      margin: 43px auto 0; } }

h3.titleHeadline {
  text-align: center;
  white-space: nowrap;
  margin: 5vh auto 0;
  overflow: hidden;
  width: 0%;
  color: white;
  animation: type 5s 2s forwards steps(60, end); }
  @media (max-width: 480px) {
    h3.titleHeadline {
      margin: 1vh auto 0;
      animation: type 2s 2s forwards steps(60, end); } }
  @media (min-width: 481px) and (max-width: 767px) {
    h3.titleHeadline {
      animation: type 3.5s 2s forwards steps(60, end); } }

h4.smallHeadlineMain {
  text-align: center;
  white-space: nowrap;
  margin: auto;
  overflow: hidden;
  width: 0%;
  color: white;
  animation: type 7s 3.5s forwards steps(60, end); }
  @media (max-width: 480px) {
    h4.smallHeadlineMain {
      animation: type 4s 4s forwards steps(60, end); } }
  @media (min-width: 481px) and (max-width: 767px) {
    h4.smallHeadlineMain {
      animation: type 4s 3.75s forwards steps(60, end); } }
  @media (min-width: 768px) and (max-width: 1200px) {
    h4.smallHeadlineMain {
      animation: type 4.25s 3.75s forwards steps(60, end); } }
  h4.smallHeadlineMain span {
    animation: blink 1.5s infinite; }

.dividerDiv {
  width: 0vw;
  height: 5px;
  background-color: #323967;
  margin: 5vh auto 0;
  border-radius: 10px;
  animation: dividerDiv 1s ease-in-out 4.5s forwards; }
  @media (max-width: 480px) {
    .dividerDiv {
      animation: dividerDiv 1s ease-in-out 5.25s forwards; } }
  @media (min-width: 481px) and (max-width: 767px) {
    .dividerDiv {
      animation: dividerDiv 1s ease-in-out 5s forwards; } }
  @media (min-width: 768px) and (max-width: 1200px) {
    .dividerDiv {
      animation: dividerDiv 1s ease-in-out 4.75s forwards; } }

.hover:hover {
  color: white;
  transition: .5s linear; }

.mainTitleLinkDiv {
  color: white;
  text-align: center;
  margin: 5vh auto 0; }
  @media (max-width: 343px) and (orientation: portrait), (max-height: 360px) {
    .mainTitleLinkDiv {
      margin: auto; } }
  @media (max-width: 343px) and (min-height: 260px) {
    .mainTitleLinkDiv {
      margin-top: 5%; } }
  .mainTitleLinkDiv a {
    animation: type 1s forwards;
    margin: auto;
    margin-right: 10vw;
    font-size: 50px;
    top: -1em;
    opacity: 0;
    color: #cfa757;
    transition: .5s linear; }
    .mainTitleLinkDiv a:nth-child(3) {
      -moz-animation: iconLoad 1s 6s forwards;
      -webkit-animation: iconLoad 1s 6s forwards;
      -ms-animation: iconLoad 1s 6s forwards;
      animation: iconLoad 1s 6s forwards; }
    .mainTitleLinkDiv a:nth-child(2), .mainTitleLinkDiv a:nth-child(4) {
      -moz-animation: iconLoad 1s 6.5s forwards;
      -webkit-animation: iconLoad 1s 6.5s forwards;
      -ms-animation: iconLoad 1s 6.5s forwards;
      animation: iconLoad 1s 6.5s forwards; }
    .mainTitleLinkDiv a:nth-child(1), .mainTitleLinkDiv a:nth-child(5) {
      -moz-animation: iconLoad 1s 7s forwards;
      -webkit-animation: iconLoad 1s 7s forwards;
      -ms-animation: iconLoad 1s 7s forwards;
      animation: iconLoad 1s 7s forwards; }
    @media (max-width: 480px) {
      .mainTitleLinkDiv a {
        font-size: 35px; } }
    @media (max-width: 343px) {
      .mainTitleLinkDiv a {
        font-size: 27.5px; } }
    @media (max-width: 343px) and (orientation: portrait), (max-height: 360px) {
      .mainTitleLinkDiv a {
        font-size: 20px; } }
  .mainTitleLinkDiv a:nth-last-child(1) {
    margin: auto; }

.boxForServices {
  position: relative;
  margin: 3% auto;
  width: 100%;
  height: 100%;
  color: white; }
  .boxForServices .boxForServicesTitle.opener {
    cursor: pointer; }

.boxForServicesTitle {
  position: relative;
  text-align: center;
  top: 50%;
  border: #6574ad 5px solid;
  background-color: #323967;
  border-radius: 5px;
  margin: 3%;
  padding: 3% 10%; }
  @media (max-width: 480px) {
    .boxForServicesTitle {
      margin: 5%;
      padding: 5% 10%; } }
  .boxForServicesTitle.gotsAButton {
    padding-bottom: -webkit-calc(5% + 43px);
    padding-bottom: -moz-calc(5% + 43px);
    padding-bottom: calc(5% + 43px); }
    @media (max-width: 760px) {
      .boxForServicesTitle.gotsAButton {
        padding-bottom: -webkit-calc(7.5% + 43px);
        padding-bottom: -moz-calc(7.5% + 43px);
        padding-bottom: calc(7.5% + 43px); } }

.centerBox {
  margin: auto;
  text-align: left;
  margin-bottom: 7.5%; }

.otherInput {
  display: block;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%; }

.btn-homemadeRight {
  display: inline;
  right: 5%;
  position: absolute;
  margin-bottom: 5%; }

.btn-homemadeLeft {
  display: inline;
  left: 5%;
  position: absolute;
  margin-bottom: 5%; }

#sizeThisTextBoxForServices {
  width: 100%; }

.addOption {
  float: right;
  right: 5%; }

.removeOption {
  display: inline-block; }

.optionContainer {
  position: relative; }

.optionInput {
  width: 80%;
  margin-top: 2%; }
  @media (max-width: 480px) {
    .optionInput {
      margin-top: 5%; } }

.successTab label {
  padding-left: 2%; }

.spacerForMinus {
  margin: 3% auto; }

.spacerForHome {
  margin: 5% auto; }

.imageSuccess {
  margin: auto;
  width: 100%;
  height: 100%;
  max-height: -webkit-calc(500px * 1.5967px);
  max-height: -moz-calc(500px * 1.5967px);
  max-height: calc(500px * 1.5967px);
  max-width: 500px;
  border-radius: 5px; }

.imgPortfolio {
  border-radius: 5px;
  max-width: 500px;
  max-height: 500px;
  border: 0.35em solid #323967; }
  @media (max-width: 992px), (max-height: 992px) {
    .imgPortfolio {
      max-width: 400px;
      max-height: 700px;
      margin: auto; } }
  @media (max-width: 767px), (max-height: 767px) {
    .imgPortfolio {
      max-width: 300px;
      max-height: 500px;
      margin: 5% auto; } }
  @media (max-width: 480px), (max-height: 480px) {
    .imgPortfolio {
      max-width: 275px;
      max-height: 275px;
      margin: 10% auto; } }

.bioProfile {
  padding-top: 1rem; }
  .bioProfile p {
    opacity: 1;
    padding: 0 5%;
    text-indent: 5rem;
    text-align: left;
    padding-top: 1rem; }
    .bioProfile p.text-center {
      opacity: 1;
      padding-top: 2rem;
      text-align: center; }
    .bioProfile p span {
      color: #cfa757; }

.bottomTextBio {
  padding: 5%;
  margin: 2% auto; }
  @media (min-width: 992px) {
    .bottomTextBio {
      padding: 0%; } }

.imgResponsivePortfolio {
  height: 300px;
  width: 300px;
  margin: auto;
  text-align: center; }
  @media (max-width: 480px), (max-height: 480px) {
    .imgResponsivePortfolio {
      height: 150px;
      width: 150px; } }

.containerForPortfolio {
  margin: 5% auto; }
  @media (min-width: 768px) {
    .containerForPortfolio {
      min-height: 700px;
      margin: 2.5% auto; } }

#PUTBACKGROUNDHERE3 .description {
  color: #000; }

.goldenkey {
  color: #cfa757; }

#KEYS h2 {
  color: #df691a; }

.contactImg {
  height: 100%;
  width: 100%; }

.btnBlockOfLock button {
  margin: 3% auto;
  border-radius: 4px; }

#keyBox, #contantImages, #contactButton {
  margin-bottom: 5%; }
  @media (max-width: 600px), (max-height: 600px) {
    #keyBox, #contantImages, #contactButton {
      margin-bottom: 10%; } }

.contactBoxDiv {
  color: white; }
  .contactBoxDiv select {
    margin: auto;
    color: black;
    width: 10rem;
    text-align: center; }

.contactButton {
  min-height: 40px;
  min-width: 445px; }

.golden i {
  color: #cfa757;
  display: inline-block;
  font-size: 3rem;
  line-height: 3.5454rem; }

h2.bestTimeToContact {
  text-align: center;
  margin-top: 40px; }
  @media (min-width: 768px) {
    h2.bestTimeToContact {
      text-align: left; } }

footer {
  border-top: 3px #141402 solid;
  width: 100%;
  height: 100%; }
  footer a:hover {
    text-decoration: none; }
  footer .col-xs-12 {
    margin: 2% auto; }
  footer .copy {
    color: white; }

.boxShadowLight {
  box-shadow: 0 3px 5px 0 gray; }

@keyframes blink {
  to {
    opacity: .0; } }
@keyframes type {
  to {
    width: 100%; } }
@keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100%; } }
@keyframes dividerDiv {
  to {
    opacity: 1;
    width: 75vw; } }
@-moz-keyframes iconLoad {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0; }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
@-webkit-keyframes iconLoad {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0; }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
@-ms-keyframes iconLoad {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0; }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
@keyframes iconLoad {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0; }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
.hidden-xssm.animateGraphInnerText {
  animation: graphText2 .5s ease-in-out forwards; }
  @media (max-width: 480px), (max-height: 480px) {
    .hidden-xssm.animateGraphInnerText {
      display: none; } }

.hidden-smxs {
  margin-top: 1em;
  margin-bottom: 1em; }
  @media (min-width: 480px) {
    .hidden-smxs {
      display: none;
      margin-top: 0em;
      margin-bottom: 0em; } }

.animateGraphInnerText {
  font-weight: 900;
  animation: graphText2 .5s ease-in-out forwards; }

.innerBar {
  transform: rotate(90deg);
  background-color: transparent;
  color: #323967;
  position: absolute; }
  .innerBar.animateGraph {
    animation: graphText 1.15s ease-in-out forwards; }

.graphTextBelow {
  color: #323967;
  position: relative;
  bottom: 5vh;
  text-align: center; }
  @media (max-height: 460px) {
    .graphTextBelow {
      display: none; } }

.graphTextBelow2 {
  color: #323967;
  text-align: center; }
  @media (min-height: 460px) {
    .graphTextBelow2 {
      display: none; } }

.containerOfAnimation {
  border: #6574ad 5px solid;
  position: relative;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: block;
  background-color: black;
  color: black;
  border-radius: 5px;
  width: 450px;
  height: 450px; }
  @media (max-width: 600px), (max-height: 600px) {
    .containerOfAnimation {
      width: 250px;
      height: 250px; } }

p {
  z-index: 0;
  width: 100%;
  height: 5%;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.72);
  opacity: .5;
  text-align: center;
  position: relative;
  animation: skillLevelAnimation 3s ease-in-out 3; }
  p.a {
    top: 10%; }
    @media (max-width: 480px), (max-height: 480px) {
      p.a {
        top: 10%; } }
  p.b {
    top: 20%; }
    @media (max-width: 480px), (max-height: 480px) {
      p.b {
        top: 17.5%; } }
  p.c {
    top: 30%; }
    @media (max-width: 480px), (max-height: 480px) {
      p.c {
        top: 25%; } }
  p.d {
    top: 40%; }
    @media (max-width: 480px), (max-height: 480px) {
      p.d {
        top: 32.5%; } }
  p.e {
    top: 50.5%; }
    @media (max-width: 480px), (max-height: 480px) {
      p.e {
        top: 40%; } }

#htmlAnimate {
  cursor: pointer;
  position: absolute;
  height: 90%;
  width: 7.5%;
  background-color: #323967;
  bottom: 0;
  left: 7.5%; }
  #htmlAnimate.animateGraph {
    animation: skillAnimate 1s ease-out; }
  #htmlAnimate p.innerBar {
    padding-left: 10px; }
    @media (max-width: 767px) and (min-height: 601px) {
      #htmlAnimate p.innerBar {
        left: -2px;
        top: 10px; } }
    @media (min-width: 768px) and (min-height: 601px) {
      #htmlAnimate p.innerBar {
        left: -3px;
        top: 10px; } }
    @media (min-width: 992px) and (min-height: 601px) {
      #htmlAnimate p.innerBar {
        left: -.5px;
        top: 10px; } }
    @media (min-width: 1201px) and (min-height: 601px) {
      #htmlAnimate p.innerBar {
        left: 1.5px;
        top: 10px; } }
    @media (min-width: 1600px) and (min-height: 601px) {
      #htmlAnimate p.innerBar {
        left: 5.5px;
        top: 15px; } }
    @media (max-height: 600px), (max-width: 600px), (min-height: 600px) and (max-width: 600px) {
      #htmlAnimate p.innerBar {
        font-size: 14px;
        left: 3.5px;
        top: 1px; } }

#cssAnimate {
  cursor: pointer;
  position: absolute;
  height: 85%;
  width: 7.5%;
  background-color: #323967;
  left: 22.5%;
  bottom: 0; }
  #cssAnimate.animateGraph {
    animation: skillAnimate .95s ease-out; }
  #cssAnimate p.innerBar {
    padding-left: 12px;
    padding-bottom: 10px; }
    @media (min-width: 768px) and (min-height: 601px) {
      #cssAnimate p.innerBar {
        left: -2px;
        top: 10px; } }
    @media (min-width: 992px) and (min-height: 601px) {
      #cssAnimate p.innerBar {
        left: 0px;
        top: 10px; } }
    @media (min-width: 1201px) and (min-height: 601px) {
      #cssAnimate p.innerBar {
        left: 2.5px;
        top: 10px; } }
    @media (min-width: 1600px) and (min-height: 601px) {
      #cssAnimate p.innerBar {
        left: 7.5px;
        top: 15px; } }
    @media (max-height: 600px), (max-width: 600px), (min-height: 600px) and (max-width: 600px) {
      #cssAnimate p.innerBar {
        font-size: 14px;
        left: 5px;
        top: 1px; } }

#javaScriptAnimate {
  cursor: pointer;
  position: absolute;
  height: 80%;
  width: 7.5%;
  background-color: #323967;
  left: 37.5%;
  bottom: 0; }
  #javaScriptAnimate.animateGraph {
    animation: skillAnimate .9s ease-out; }
  #javaScriptAnimate p.innerBar {
    padding-left: 15px; }
    @media (min-width: 992px) and (min-height: 601px) {
      #javaScriptAnimate p.innerBar {
        left: 2.5px;
        top: 10px; } }
    @media (min-width: 1201px) and (min-height: 601px) {
      #javaScriptAnimate p.innerBar {
        left: 3.5px;
        top: 10px; } }
    @media (min-width: 1600px) and (min-height: 601px) {
      #javaScriptAnimate p.innerBar {
        left: 9.5px;
        top: 15px; } }
    @media (max-height: 600px), (max-width: 600px), (min-height: 600px) and (max-width: 600px) {
      #javaScriptAnimate p.innerBar {
        font-size: 14px;
        left: 4.5px;
        top: 1px; } }

#uiAnimate {
  cursor: pointer;
  position: absolute;
  height: 60%;
  width: 7.5%;
  background-color: #323967;
  left: 67.5%;
  bottom: 0; }
  #uiAnimate.animateGraph {
    animation: skillAnimate .85s ease-out; }
  #uiAnimate p.innerBar {
    left: 8px;
    top: 15px; }
    @media (max-height: 480px), (max-width: 480px) {
      #uiAnimate p.innerBar {
        left: 2.5px;
        top: 10px; } }
    @media (max-width: 767px) and (min-height: 601px) {
      #uiAnimate p.innerBar {
        left: 4.5px;
        top: 15px; } }
    @media (min-width: 768px) and (min-height: 601px) {
      #uiAnimate p.innerBar {
        left: 4px;
        top: 13px; } }
    @media (min-width: 992px) and (min-height: 601px) {
      #uiAnimate p.innerBar {
        left: 6px;
        top: 12px; } }
    @media (min-width: 1201px) and (min-height: 601px) {
      #uiAnimate p.innerBar {
        left: 8px;
        top: 15px; } }
    @media (min-width: 1600px) and (min-height: 601px) {
      #uiAnimate p.innerBar {
        left: 12px;
        top: 20px; } }
    @media (max-height: 600px), (max-width: 600px), (min-height: 600px) and (max-width: 600px) {
      #uiAnimate p.innerBar {
        font-size: 14px;
        left: 6px;
        top: 10px; } }

#sqlAnimate {
  cursor: pointer;
  position: absolute;
  height: 30%;
  width: 7.5%;
  background-color: #323967;
  left: 82.5%;
  bottom: 0; }
  #sqlAnimate.animateGraph {
    animation: skillAnimate .80s ease-out; }
  #sqlAnimate p.innerBar {
    left: 15px;
    top: 25px; }
    @media (max-height: 480px), (max-width: 480px) {
      #sqlAnimate p.innerBar {
        left: 7px;
        top: 15px; } }
    @media (max-width: 767px) and (min-height: 601px) {
      #sqlAnimate p.innerBar {
        left: 10px;
        top: 15px; } }
    @media (min-width: 768px) and (min-height: 601px) {
      #sqlAnimate p.innerBar {
        left: 10px;
        top: 15px; } }
    @media (min-width: 992px) and (min-height: 601px) {
      #sqlAnimate p.innerBar {
        left: 12.5px;
        top: 15px; } }
    @media (min-width: 1201px) and (min-height: 601px) {
      #sqlAnimate p.innerBar {
        left: 15px;
        top: 17px; } }
    @media (min-width: 1600px) and (min-height: 601px) {
      #sqlAnimate p.innerBar {
        left: 20px;
        top: 20px; } }
    @media (max-height: 600px), (max-width: 600px), (min-height: 600px) and (max-width: 600px) {
      #sqlAnimate p.innerBar {
        font-size: 14px;
        left: 10px;
        top: 10px; } }

#wordpressAnimate {
  cursor: pointer;
  position: absolute;
  height: 70%;
  width: 7.5%;
  background-color: #323967;
  left: 52.5%;
  bottom: 0; }
  #wordpressAnimate.animateGraph {
    animation: skillAnimate .75s ease-out; }
  #wordpressAnimate p.innerBar {
    left: 5px;
    top: 25px; }
    @media (max-height: 480px), (max-width: 480px) {
      #wordpressAnimate p.innerBar {
        left: 1px;
        top: 10px; } }
    @media (max-width: 767px) and (min-height: 601px) {
      #wordpressAnimate p.innerBar {
        left: 3px;
        top: 12px; } }
    @media (min-width: 768px) and (min-height: 601px) {
      #wordpressAnimate p.innerBar {
        left: 1px;
        top: 10px; } }
    @media (min-width: 992px) and (min-height: 601px) {
      #wordpressAnimate p.innerBar {
        left: 2.5px;
        top: 10px; } }
    @media (min-width: 1201px) and (min-height: 601px) {
      #wordpressAnimate p.innerBar {
        left: 5.5px;
        top: 15px; } }
    @media (min-width: 1600px) and (min-height: 601px) {
      #wordpressAnimate p.innerBar {
        left: 10px;
        top: 20px; } }
    @media (max-height: 600px), (max-width: 600px), (min-height: 600px) and (max-width: 600px) {
      #wordpressAnimate p.innerBar {
        font-size: 14px;
        left: 5px;
        top: 10px; } }

.barGraph {
  opacity: 0;
  z-index: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  .barGraph p {
    height: 10%;
    background-color: inherent;
    opacity: 1;
    margin: auto;
    line-height: 2em; }
  .barGraph h3 {
    text-align: center;
    color: #cfa757; }

@media (max-height: 600px) {
  .innerTextOfDialog {
    height: 10%;
    line-height: 1em;
    font-size: .7em; } }

.innerBar {
  color: #cfa757; }

@keyframes skillAnimate {
  from {
    height: 0%; } }
@keyframes graphBarAnimation {
  to {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    z-index: 3; } }
@keyframes graphText {
  0% {
    display: none;
    opacity: 0; }
  80% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@keyframes graphText2 {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@media (min-width: 768px) {
  .xs-only {
    display: none; } }

.btn-gold {
  background: #f3d078;
  background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #be952c #a68226 #9b7924;
  color: black; }
  .btn-gold:hover {
    background: #f1c860;
    background: -webkit-linear-gradient(top, #f5d78e, #eeb933);
    background: linear-gradient(to bottom, #f5d78e, #eeb933);
    color: #333; }
  .btn-gold:active {
    color: black;
    background: #eeba37;
    border-color: #a88734 #9c7e31 #9c7e31; }
  .btn-gold:focus {
    color: black; }

.btn-plain {
  background: #eff0f3;
  background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  overflow: hidden;
  color: black; }
  .btn-plain:hover {
    border-color: #a2a6ac #979aa1 #82858a;
    background: #e0e3e8;
    background: -webkit-linear-gradient(top, #e7eaf0, #d9dce1);
    background: linear-gradient(to bottom, #e7eaf0, #d9dce1); }
  .btn-plain:active {
    background: #dcdfe3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset; }

.W2BButton, .btn-white {
  font-size: 1.5em;
  transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out, color 150ms ease-in-out;
  color: #000;
  background: #fff;
  padding: 0 10px;
  cursor: pointer;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-top-color: #adb1b8;
  border-right-color: #a2a6ac;
  border-bottom-color: #8d9096;
  border-left-color: #a2a6ac;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px; }
  .W2BButton:hover, .btn-white:hover {
    background: #000;
    color: #fff; }

* {
  font-size: 11px;
  line-height: 18px; }

h1 {
  font-size: 29px;
  line-height: 39px; }

h2 {
  font-size: 26px;
  line-height: 18px; }

h3 {
  font-size: 21px;
  line-height: 18px; }

h4 {
  font-size: 11px;
  line-height: 18px; }

h5 {
  font-size: 9px;
  line-height: 16px; }

h6 {
  font-size: 5px;
  line-height: 14px; }

@media (max-width: 480px) and (min-width: 320px) {
  *, h4, p, a {
    font-size: 14px;
    line-height: 22px; }

  h1 {
    font-size: 37px;
    line-height: 50px; }

  h2 {
    font-size: 23px;
    line-height: 33px; }

  h3 {
    font-size: 18px;
    line-height: 27px; }

  h5 {
    font-size: 14px;
    line-height: 22px; }

  h6 {
    font-size: 11px;
    line-height: 20px; } }
@media (max-width: 600px) and (min-width: 480px) {
  *, h4, p, a {
    font-size: 15px;
    line-height: 24px; }

  h1 {
    font-size: 39px;
    line-height: 53px; }

  h2 {
    font-size: 24px;
    line-height: 34px; }

  h3 {
    font-size: 19px;
    line-height: 29px; }

  h5 {
    font-size: 15px;
    line-height: 24px; }

  h6 {
    font-size: 12px;
    line-height: 22px; } }
@media (max-width: 767px) and (min-width: 601px), (min-width: 768px) {
  *, h4, p, a {
    font-size: 17px;
    line-height: 28px; }

  h1 {
    font-size: 45px;
    line-height: 61px; }

  h2 {
    font-size: 28px;
    line-height: 40px; }

  h3 {
    font-size: 22px;
    line-height: 33px; }

  h5 {
    font-size: 17px;
    line-height: 28px; }

  h6 {
    font-size: 13px;
    line-height: 24px; } }
@media (min-width: 992px) {
  *, h4, p, a {
    font-size: 19px;
    line-height: 31px; }

  h1 {
    font-size: 50px;
    line-height: 61px; }

  h2 {
    font-size: 31px;
    line-height: 44px; }

  h3 {
    font-size: 24px;
    line-height: 36px; }

  h5 {
    font-size: 19px;
    line-height: 31px; }

  h6 {
    font-size: 15px;
    line-height: 27px; } }
@media (min-width: 1200px) {
  *, h4, p, a {
    font-size: 21px;
    line-height: 34px; }

  h1 {
    font-size: 55px;
    line-height: 75px; }

  h2 {
    font-size: 34px;
    line-height: 49px; }

  h3 {
    font-size: 27px;
    line-height: 41px; }

  h5 {
    font-size: 21px;
    line-height: 34px; }

  h6 {
    font-size: 17px;
    line-height: 31px; } }
@media (min-width: 1600px) {
  *, h4, p, a {
    font-size: 25px;
    line-height: 40px; }

  h1 {
    font-size: 65px;
    line-height: 101px; }

  h2 {
    font-size: 40px;
    line-height: 57px; }

  h3 {
    font-size: 32px;
    line-height: 48px; }

  h5 {
    font-size: 25px;
    line-height: 40px; }

  h6 {
    font-size: 20px;
    line-height: 36px; } }
#modalBlackout {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

#modalNullDiv {
  position: fixed;
  z-index: 101;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d8d8d8+100;White+3D */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #d8d8d8 100%);
  background: -webkit-linear-gradient(-45deg, #ffffff 0%, #d8d8d8 100%);
  background: linear-gradient(135deg, #ffffff 0%, #d8d8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=1 );
  border-radius: 4px;
  border: 4px whitesmoke solid; }
  #modalNullDiv h5 {
    position: absolute;
    bottom: 5%;
    margin: auto auto 5% auto;
    text-align: center;
    width: 100%; }
    #modalNullDiv h5:hover {
      text-decoration: underline;
      cursor: pointer; }

#modalNullDivText {
  text-align: center;
  position: absolute;
  top: 40%;
  margin: auto;
  width: 100%;
  font-size: 2em;
  font-weight: 900; }

/*# sourceMappingURL=main.css.map */
