

@-ms-keyframes blink{
  to{opacity: .0;}
}


@-ms-keyframes type{
  to { width: 100%;}
}

@-ms-keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100%; }
}

@-ms-keyframes dividerDiv {
  to{opacity: 1; width: 75%; width: 75vw;}
}

@-moz-keyframes blink{
  to{opacity: .0;}
}


@-moz-keyframes type{
  to { width: 100%;}
}

@-moz-keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100%; }
}

@-moz-keyframes dividerDiv {
  to{opacity: 1; width: 75%; width: 75vw;}
}

@-webkit-keyframes blink{
  to{opacity: .0;}
}


@-webkit-keyframes type{
  to { width: 100%;}
}

@-webkit-keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100%; }
}

@-webkit-keyframes dividerDiv {
  to{opacity: 1; width: 75%; width: 75vw;}
}

@keyframes blink{
  to{opacity: .0;}
}


@keyframes type{
  to { width: 100%;}
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100%; }
}

@keyframes dividerDiv {
  to{opacity: 1; width: 75%; width: 75vw;}
}

@-moz-keyframes iconLoad {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-webkit-keyframes iconLoad {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-ms-keyframes iconLoad {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@keyframes iconLoad {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}
