// Regular Convert
$black: rgb(50,57,103);
$blue: rgb(101,116,173);
$gold: rgb(207,167,87);
$red: rgb(207,167,87);
$realRed: rgb(223, 105, 26);











// Named Variables for Easy Recall
$primary: $black;
$secondary: $blue;
$accent: $gold;
$highlight: $red;
