<nav class="navbar-fixed-top navbar navbar-default" id="navbar">
         <div class="container-fluid">
            <div class="navbar-header" id="">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
               <a class="navbar-brand" id="BRAND" href="#">DC Design</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">

               <ul class="nav navbar-nav navbar-right" id="myNav123">
                  <li id="1" class="active">
                     <a ng-click="home()" class="" target="">Home</a>
                  </li>
                  <li id="2" class="">
                     <a ng-click="skills()" class="">Skills</a>
                  </li>
                  <li id="3" class="">
                     <a ng-click="skills()" class="">Biography</a>
                  </li>
                  <li id="4" class="">
                     <a ng-click="skills()" class="">Portfolio</a>
                  </li>
                  <li id="5" class="">
                     <a ng-click="skills()" class="">Contact</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
