/* BG */

	#backgroundAnimate {
		background: #212121 url("../../../images/bg.jpg") top left;
		background-repeat: repeat-x;
		height: 100%;
		left: 0;
		opacity: 1;
		position: absolute;
		top: 0;
	}
