/* BG */
body {
  background-color: $black;
  color: $black;
  overflow: hidden;
  overflow-y: hidden;
}

	#bg {
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		opacity: 1;
		position: relative;
    height: -webkit-calc(100vh);
    height:    -moz-calc(100vh);
    height:         calc(100vh);
	}
#PUTBACKGROUNDHERE, #PUTBACKGROUNDHERE2, #PUTBACKGROUNDHERE3, #PUTBACKGROUNDHERE4 {
  background-color: #fff;
  width: 100%;
  position: relative;
  min-height: 100%;
  // min-height: -webkit-calc(100vh);
  // min-height:    -moz-calc(100vh);
  // min-height:         calc(100vh);
  padding: 2.5% 0;
  background-color: #fff;
  display: block;
  @media (min-width: 280px) {
    padding: 2.5% 5%;
  }
}
#backGroundForViewWelcome {
  background-color: white;
  min-height: -webkit-calc(100vh);
  min-height:    -moz-calc(100vh);
  min-height:         calc(100vh);
}
.wrapper {
  height: 100%;
  width: 100%;
  display: block;
}
