.goldenkey {
  color: rgb(207,167,87);
}
#KEYS h2 {
  color: $accent;
}
.contactImg {
  height: 100%;
  width: 100%;
}
.btnBlockOfLock button {
  margin: 3% auto;
  border-radius: 4px;
}
#keyBox, #contantImages, #contactButton {
  margin-bottom: 5%;
  @media (max-width: 600px), (max-height: 600px) {
    margin-bottom: 10%;
  }
}
.contactBoxDiv {
  color: black;
}
