
.profileImageMain {
  display: block;
  margin: -webkit-calc(10vh + 40px) auto 0;
  margin:    -moz-calc(10vh + 40px) auto 0;
  margin:         calc(10vh + 40px) auto 0;
  border-radius: 100%;
  position: relative;
  border: .35em solid #212121;
  height: 25vh;
  width: 25vh;
}

h3.titleHeadline {
  text-align: center;
  white-space: nowrap;
  margin: 5vh auto 0;
  overflow: hidden;
  width: 0%;
  animation: type 5s 2s forwards steps(60, end);
  @media (max-width: 480px) {
    animation: type 2s 2s forwards steps(60, end);
  }
  @media (min-width: 481px) and (max-width: 767px) {
    animation: type 3.5s 2s forwards steps(60, end);
  }
}
h4.smallHealineMain {
  text-align: center;
  white-space: nowrap;
  margin: auto;
  overflow: hidden;
  width: 0%;
  animation: type 7s 3.5s forwards steps(60, end);
  @media (max-width: 480px) {
    animation: type 4s 4s forwards steps(60, end);
  }
  @media (min-width: 481px) and (max-width: 767px) {
    animation: type 4s 3.75s forwards steps(60, end);
  }
  @media (min-width: 768px) and (max-width: 1200px) {
    animation: type 4.25s 3.75s forwards steps(60, end);
  }
  & span {
    animation: blink 1.5s infinite;
  }
}


.dividerDiv {
  width: 0vw;
  height: 5px;
  background-color: #4E5D6C;
  margin: 5vh auto 0;
  animation: dividerDiv 1s ease-in-out 4.5s forwards;
  @media (max-width: 480px) {
  animation: dividerDiv 1s ease-in-out 5.25s forwards;
  }
  @media (min-width: 481px) and (max-width: 767px) {
  animation: dividerDiv 1s ease-in-out 5s forwards;
  }
  @media (min-width: 768px) and (max-width: 1200px) {
  animation: dividerDiv 1s ease-in-out 4.75s forwards;
  }
}

.mainTitleLinkDiv {
  color: white;
  text-align: center;
  margin: 5vh auto 0;
  & a {
    animation: type 1s forwards;
    margin: auto;
    margin-right: 10vw;
    font-size: 50px;
		top: -1em;
		opacity: 0;
    &:nth-child(3) {
		-moz-animation: iconLoad 1s 6s forwards;
		-webkit-animation: iconLoad 1s 6s forwards;
		-ms-animation: iconLoad 1s 6s forwards;
		animation: iconLoad 1s 6s forwards;
    }
    &:nth-child(2), &:nth-child(4) {
		-moz-animation: iconLoad 1s 6.5s forwards;
		-webkit-animation: iconLoad 1s 6.5s forwards;
		-ms-animation: iconLoad 1s 6.5s forwards;
		animation: iconLoad 1s 6.5s forwards;
    }
    &:nth-child(1), &:nth-child(5) {
		-moz-animation: iconLoad 1s 7s forwards;
		-webkit-animation: iconLoad 1s 7s forwards;
		-ms-animation: iconLoad 1s 7s forwards;
		animation: iconLoad 1s 7s forwards;
    }
    @media (max-width: 480px) {
      font-size: 35px;
    }
    @media (max-width: 340px) {
      font-size: 27.5px;
    }
    @media (max-width: 340px) and (orientation: landscape) {
      font-size: 20px;
    }
  }
  & a:nth-last-child(1) {
      margin: auto;
  }
}
