#navbar {
  background-color: #323967;
  color: white;
}
#navbar {
border-bottom: #141402 3px solid;
}
ul#myNav123 a:hover, header nav#navbar div#myNavbar ul#myNav123 li.active a {
  background-color: $secondary;
}
ul#myNav123 a:focus {
  background-color: $accent
}
#navbar {
  cursor: pointer;
}
