<div id="PUTBACKGROUNDHERE2">
  <div class="container-fluid">
    <div class="row">
      <!-- Step 1 -->
      <div class="boxForServices" ng-repeat="data in newOrOldArr" ng-hide="hideFirstPanelOfSales">
        <div class="boxForServicesTitle opener"  ng-click="newNext(0, data.title)">
            {{data.title}}
        </div>
      </div>
      <!-- Step 2 -->
      <div class="boxForServices">
        <div class="boxForServicesTitle gotsAButton" ng-show="stepOne">
          <div class="centerBox">
            <h3><input type="checkbox" ng-model="typeOfSite.personal">
            Personal Website</h3>
            <h3><input type="checkbox" ng-model="typeOfSite.blog">
            Blog</h3>
            <h3><input type="checkbox" ng-model="typeOfSite.social">
            Social Network / Community</h3>
            <h3><input type="checkbox" ng-model="typeOfSite.eCommerce">
            eCommerce</h3>
            <h3><input type="checkbox" ng-model="typeOfSite.business">
            Business</h3>
            <h3><input type="checkbox" ng-model="typeOfSite.nonProfit">
            Non-Profit</h3>
            <h3><input type="checkbox" ng-model="typeOfSite.other.isTrue">
            Other: <input type="text" ng-model="typeOfSite.other.content" class="optionInput"></h3>
            <button type="button" class="btn btn-homemadeRight" ng-click="newNext(1, typeOfSite)">Next</button>
          </div>
        </div>
        <!-- Step 3 -->
        <div class="boxForServicesTitle gotsAButton" ng-show="stepTwo">
          <div class="centerBox">
            <button class="addOption" ng-click="addOption()">+</button>
            <h2>Options:</h2>
            <div ng-repeat="option in lookingForAWebsite.options track by $index" class="optionContainer">
              <input type="text" id="sizeThisTextBoxForServices" ng-model="option" ng-change="saveOnInput(option, $index)"/>
                <button class="removeOption" ng-click="removeOption($index)">-</button>
            </div>
            <button type="button" class="btn btn-homemadeLeft" ng-click="newBack(2, option)">Back</button>
            <button type="button" class="btn btn-homemadeRight" ng-click="newNext(2)">Next</button>
          </div>
        </div>
        <!-- STEP 4 -->
        <div class="boxForServicesTitle gotsAButton" ng-show="stepThree">
          <div class="centerBox">
              <h2>Number of Pages</h2>
              <h3><input type="checkbox" ng-model="numOfPagesArr.one">
              1-5</h3>
              <h3><input type="checkbox" ng-model="numOfPagesArr.six">
              6-15</h3>
              <h3><input type="checkbox" ng-model="numOfPagesArr.sixteen">
              16+</h3>
              <h3><input type="checkbox" ng-model="numOfPagesArr.dynamic">
              Dynamic</h3>
            <button type="button" class="btn btn-homemadeLeft" ng-click="newBack(2, numOfPages)">Back</button>
            <button type="button" class="btn btn-homemadeRight" ng-click="newNext(3, numOfPagesArr)">Next</button>
          </div>
        </div>
        <!-- STEP 5 -->
        <div class="boxForServicesTitle gotsAButton" ng-show="stepFour">
          <div class="centerBox">
              <h2>Time Frame</h2>
              <h3><input type="checkbox" ng-model="timeFrame.flexible">
              Flexible</h3>
              <h3><input type="checkbox" ng-model="timeFrame.asap">
              As Soon as Possible</h3>
              <h3><input type="checkbox" ng-model="timeFrame.nextFewDays">
              Next Few Days</h3>
              <h3><input type="checkbox" ng-model="timeFrame.byDate.isTrue">
              By Date:  <input type="text" ng-model="timeFrame.byDate.date" class="optionInput"></h3>
              <h3><input type="checkbox" ng-model="timeFrame.other.isTrue">
              Other: <input type="text" ng-model="timeFrame.other.other" class="optionInput"></h3>
              <h3><input type="checkbox" ng-model="timeFrame.employement.isTrue">
              Employement: <input type="text" ng-model="timeFrame.employement.employement" class="optionInput"></h3>
            <button type="button" class="btn btn-homemadeLeft" ng-click="newBack(2)">Back</button>
            <button type="button" class="btn btn-homemadeRight" ng-click="newNext(4, timeFrame)">Next</button>
          </div>
        </div>
        <!-- Step 6 -->
        <div class="boxForServicesTitle gotsAButton" ng-show="stepFive">
          <div class="centerBox">
            <button class="addOption" ng-click="addOptionDetails()">+</button>
            <h2>Details:</h2>
            <div ng-repeat="detail in lookingForAWebsite.details track by $index" class="optionContainer">
              <input type="text" id="sizeThisTextBoxForServices" ng-model="detail" ng-change="saveOnInputDetails(detail, $index)"/>
                <button class="removeOption" ng-click="removeOptionDetails($index)">-</button>
            </div>
            <button type="button" class="btn btn-homemadeLeft" ng-click="newBack(2, option)">Back</button>
            <button type="button" class="btn btn-homemadeRight" ng-click="newNext(5)">Next</button>
          </div>
        </div>
        <!-- Step Success -->
        <div class="boxForServicesTitle gotsAButton" ng-show="success">
          <div class="centerBox successTab">
            <h2 class="text-center">{{lookingForAWebsite.services}}</h2>
            <h3>Type Of Site:</h3>
            <label ng-show="lookingForAWebsite.typeOfSite.personal">Personal</label><br ng-show="lookingForAWebsite.typeOfSite.personal"/>
            <label ng-show="lookingForAWebsite.typeOfSite.blog">Blog</label><br ng-show="lookingForAWebsite.typeOfSite.blog"/>
            <label ng-show="lookingForAWebsite.typeOfSite.social">Social Media / Community</label><br ng-show="lookingForAWebsite.typeOfSite.social"/>
            <label ng-show="lookingForAWebsite.typeOfSite.eCommerce">eCommerce</label><br ng-show="lookingForAWebsite.typeOfSite.eCommerce"/>
            <label ng-show="lookingForAWebsite.typeOfSite.business">Business</label><br ng-show="lookingForAWebsite.typeOfSite.business"/>
            <label ng-show="lookingForAWebsite.typeOfSite.nonProfit">Nonprofit</label><br ng-show="lookingForAWebsite.typeOfSite.nonProfit"/>
            <label ng-show="lookingForAWebsite.typeOfSite.other.isTrue">Other: {{lookingForAWebsite.typeOfSite.other.content}}</label><br ng-show="lookingForAWebsite.typeOfSite.other.isTrue"/>
            <h3>Options:</h3>
            <div ng-repeat="option in lookingForAWebsite.options">
              <label ng-show="lookingForAWebsite.options">{{option}}</label><br ng-show="lookingForAWebsite.options"/>
            </div>

            <h3>Number of Pages:</h3>
              <label ng-show="lookingForAWebsite.pagesTotal.one">1-5</label><br ng-show="lookingForAWebsite.pagesTotal.one"/>
              <label ng-show="lookingForAWebsite.pagesTotal.six">6-15</label><br ng-show="lookingForAWebsite.pagesTotal.six"/>
              <label ng-show="lookingForAWebsite.pagesTotal.sixteen">16+</label><br ng-show="lookingForAWebsite.pagesTotal.sixteen"/>
              <label ng-show="lookingForAWebsite.pagesTotal.dynamic">Dynamic</label><br ng-show="lookingForAWebsite.pagesTotal.dynamic"/>

              <h3>Time Frame:</h3>
                <label ng-show="lookingForAWebsite.timeFrame.flexible">Flexible</label><br ng-show="lookingForAWebsite.timeFrame.flexible"/>
                <label ng-show="lookingForAWebsite.timeFrame.asap">As Soon As Possible</label><br ng-show="lookingForAWebsite.timeFrame.asap"/>
                <label ng-show="lookingForAWebsite.timeFrame.nextFewDays">In The Next Few Days</label><br ng-show="lookingForAWebsite.timeFrame.nextFewDays"/>
                <label ng-show="lookingForAWebsite.timeFrame.byDate.isTrue">{{lookingForAWebsite.timeFrame.byDate.date}}</label><br ng-show="lookingForAWebsite.timeFrame.byDate.isTrue"/>
                <label ng-show="lookingForAWebsite.timeFrame.other.isTrue">{{lookingForAWebsite.timeFrame.other.other}}</label><br ng-show="lookingForAWebsite.timeFrame.other.isTrue"/>
                <label ng-show="lookingForAWebsite.timeFrame.employement.isTrue">{{lookingForAWebsite.timeFrame.employement.employement}}</label><br ng-show="lookingForAWebsite.pagesTotal.employement.isTrue"/>

              <h3>Details:</h3>
              <div ng-repeat="detail in lookingForAWebsite.details">
                <label ng-show="lookingForAWebsite.details">{{detail}}</label><br ng-show="lookingForAWebsite.details"/>
              </div>

            <button type="button" class="btn btn-homemadeLeft" ng-click="newBack(2, option)">Back</button>
            <button type="button" class="btn btn-homemadeRight" ng-click="newNext(5)">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
