<div id="PUTBACKGROUNDHERE5">
  <div class="container-fluid">
    <div class="row">
      <!-- Step 1 -->
      <div ng-include="'views/main/contact/stepOne.html'"></div>
      <!-- Step 2+ -->
      <div class="boxForServices">
        <!-- Step 2 -->
        <div class="boxForServicesTitle gotsAButton" ng-show="stepOne" ng-include="'views/main/contact/stepTwo.html'">
        </div>
        <!-- Step 3 -->
        <div class="boxForServicesTitle gotsAButton" ng-show="stepTwo" ng-include="'views/main/contact/stepThree.html'">
        </div>
        <!-- STEP 4 -->
        <div class="boxForServicesTitle gotsAButton" ng-show="stepThree" ng-include="'views/main/contact/stepFour.html'">
        </div>
        <!-- STEP 5 -->
        <div class="boxForServicesTitle gotsAButton" ng-show="stepFour" ng-include="'views/main/contact/stepFive.html'">
        </div>
        <!-- Step 6 -->
        <div class="boxForServicesTitle gotsAButton" ng-show="stepFive" ng-include="'views/main/contact/stepSix.html'">
        </div>
        <!-- Step Success -->
        <div class="boxForServicesTitle gotsAButton" ng-show="success" ng-include="'views/main/contact/stepSuccess.html'">
        </div>
        <!-- Contact Div For Walkthrough -->
        <div ng-show="contactForWalkthrough" class="boxForServicesTitle gotsAButton" ng-include="'views/main/contact/contact.html'">
        </div>
        <!-- Employment Contact Div -->
        <div ng-show="contactDiv" class="boxForServicesTitle gotsAButton" ng-include="'views/main/contact/contact.html'">
        </div>
      </div>
      <!-- FIN -->
      <div ng-show="finishedWalkthrough" class="col-xs-12 text-center" ng-include="'views/main/contact/finished.html'">
      </div>
    </div>
  </div>
</div>

<div ng-include="'views/modal/inputNullModal.html'" ng-show='modalNull'></div>
